.main {
  background-color: var(--theme-cse-black);
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
  color: var(--theme-cse-white);
}

.main {
  scrollbar-width: auto;
  scrollbar-color: var(--theme-cse-white) var(--theme-cse-black);
}

.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-track {
  background: var(--theme-cse-black);
}

.main::-webkit-scrollbar-thumb {
  background-color: var(--theme-cse-white);
  border-radius: 10px;
  border: 3px none var(--theme-cse-white);
}

.footer {
  text-transform: uppercase;
  font-weight: bold;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: auto;
  padding: 10px;
  z-index: 100;
  color: var(--theme-cse-white);
  background-color: var(--theme-cse-black);
  border-radius: 5px;
}

.footer a, .footer span {
  opacity: 0.5;
}

.footer a {
  padding-inline: 5px;
  padding-right: 10px;
  border-right: 1px solid var(--theme-cse-white);
}

.footer a:last-child {
  border: none;
}

.footer a:hover {
  opacity: 1;
}