@import url("https://use.typekit.net/boj5krl.css");

:root {
  --font: t26-carbon, monospace;

  --square-dimensions: 225px;
  --default-spacing: 10px;
  --color-primary: white;
  --color-secondary: rgba(0, 0, 0, 0.95);

  --default-border: 1px solid var(--color-primary);
  --default-border-radius: 5px;
  --page-top-spacing: 100px;

  --header-font-size: 2rem;

  --theme-cse-black: #2A2B2A;
  --theme-cse-red: #F4442E;
  --theme-cse-white: #F8F4E3;
  --theme-cse-blue: #5CC8FF;
  --theme-cse-purple: #7D70BA;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font);
  color: var(--color-primary);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-secondary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-primary) var(--color-secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
  border: 3px none var(--color-primary);
}
