@import url('https://use.typekit.net/boj5krl.css');

:root {
  --font: t26-carbon, monospace;

  --square-dimensions: 225px;
  --default-spacing: 10px;
  --color-primary: white;
  --color-secondary: rgba(0, 0, 0, 0.95);

  --default-border: 1px solid var(--color-primary);
  --default-border-radius: 5px;
  --page-top-spacing: 100px;

  --header-font-size: 2rem;

  --theme-cse-black: #2a2b2a;
  --theme-cse-red: #f4442e;
  --theme-cse-white: #f8f4e3;
  --theme-cse-blue: #5cc8ff;
  --theme-cse-purple: #7d70ba;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--font);
  color: var(--color-primary);
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: var(--color-secondary);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

a {
  color: inherit;
  text-decoration: none;
}
