.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-spacing);
  padding-top: var(--page-top-spacing);
  height: 100vh;
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-spacing);
}

.linkList {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--default-spacing) * 2) 0 calc(var(--default-spacing) * 2);
  gap: calc(var(--default-spacing) / 2);
}

.link {
  display: flex;
  gap: var(--default-spacing);
  align-items: center;
  font-weight: bold;
}

.link:hover {
  opacity: 0.5;
}

.link:active {
  opacity: 0.25;
}

.item {
  width: var(--square-dimensions);
  height: var(--square-dimensions);
  background-color: var(--color-secondary);
  border-radius: var(--default-border-radius);
}

.content {
  display: flex;
  gap: var(--default-spacing);
}

.spotlight {
  border-radius: var(--default-border-radius);
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 2) + var(--default-spacing));
  height: calc((var(--square-dimensions) * 2) + var(--default-spacing));
}

.about {
  border-radius: var(--default-border-radius);
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 2) + var(--default-spacing));
  height: calc((var(--square-dimensions) * 2) + var(--default-spacing));
}

.footer {
  border-radius: var(--default-border-radius);
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 4) + (var(--default-spacing) * 3));
  height: calc(var(--square-dimensions) / 6);
  display: flex;
  padding-left: var(--default-spacing);
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
  gap: calc(var(--default-spacing) / 2);
}

.header {
  color: var(--color-primary);
  padding: calc(var(--default-spacing) * 2);
  font-size: var(--header-font-size);
}

.about > .header {
  padding-bottom: 0;
}

.headshot {
  display: flex;
  align-items: center;
  padding: calc(var(--default-spacing) * 2);
  padding-top: calc(var(--default-spacing) * 3);
  padding-left: 60px;
  gap: calc(var(--default-spacing) * 2);
}

.bio {
  font-size: 1.25rem;
  padding-left: calc(var(--default-spacing) * 3);
  padding-right: calc(var(--default-spacing) * 3);
}

.bio > a {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-weight: bold;
  font-size: 1rem;
  padding-inline: calc(var(--default-spacing) / 2);
  padding-block: calc(var(--default-spacing) / 4);
  border-radius: var(--default-border-radius);
}

.bio > a:hover {
  opacity: 0.75;
}

.bio > a:active {
  opacity: 0.5;
}

.logo > svg {
  width: 200px;
}

.headshotCircle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: red;
  background-position: center;
  background-size: contain;
}

.spotlight {
  padding: var(--default-spacing);
}

.announcements {
  width: 100%;
  padding-bottom: calc(var(--default-spacing) / 2);
  margin-bottom: calc(var(--default-spacing) / 2);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid white;
}

.announcementBlocks {
  display: flex;
  flex-direction: column;
  gap: calc(var(--default-spacing) * 2);
  padding: var(--default-spacing);
  height: calc(var(--square-dimensions) * 1.7);
  overflow-y: scroll;
}

.block {
  display: flex;
  flex-direction: row;
  gap: var(--default-spacing);
}

.block:nth-of-type(odd) {
  flex-direction: row-reverse;
}


.blockImageContainer {

}

.blockImage {
  border-radius: var(--default-border-radius);
}

.blockText {

}

.blockText a {
  text-decoration: underline;
}

.blockText a:hover {
  opacity: 0.5;
}

.blockText a:active {
  opacity: 0.25;
}

.blockTitle {
  font-weight: bold;
  font-size: 1.25rem;
  padding-bottom: calc(var(--default-spacing) / 2);
}

.blockDate {
  padding-bottom: calc(var(--default-spacing) / 2);
  opacity: 0.25;
  font-size: 0.8rem;
  font-weight: bold;
}

.blockDescription {
  padding-bottom: calc(var(--default-spacing));

}

.blockCta {
  background-color: var(--color-primary);
  display: inline-block;
  color: var(--color-secondary);
  font-weight: bold;
  padding-block: calc(var(--default-spacing) / 4);
  padding-inline: calc(var(--default-spacing) / 2);
}

@media (max-width: 1000px) {
  .main {
    padding-top: calc(var(--page-top-spacing) / 4);
  }

  .links {
    flex-direction: column;
  }

  .item {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: var(--default-spacing);
  }

  .linkList {
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--default-spacing);
  }

  .item > .header {
    font-size: 1rem;
    font-weight: bold;
    min-width: 100px;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .content {
    flex-direction: column;
  }

  .spotlight {
    width: 90vw;
    height: auto;
    min-height: calc(var(--square-dimensions) * 3.75);
  }

  .announcementBlocks {
    min-height: calc(var(--square-dimensions) * 3);
  }

  .about {
    width: 90vw;
    height: auto;
  }

  .footer {
    width: 90vw;
  }

  .headshotCircle {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .headshot {
    flex-direction: column-reverse;
    padding: 0;
    padding-top: calc(var(--default-spacing) * 3);
    padding-bottom: calc(var(--default-spacing) * 2);
  }

  .bio {
    padding-bottom: 20px;
  }
}
