.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-areas:
    'links discography packs tutorials'
    'embeds embeds embeds embeds';
  gap: 0.5rem;
  width: 100%;

  .item {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 1rem;
    border: 1px solid white;

    .title {
      font-size: 2rem;
    }
  }

  .links {
    grid-area: links;

    .link {
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
    }
  }

  .packs {
    grid-area: packs;

    .link {
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
    }
  }

  .tutorials {
    grid-area: tutorials;

    .link {
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
    }
  }

  .discography {
    grid-area: discography;

    .link {
      font-size: 1rem;
      display: flex;
      gap: 0.25rem;
    }
  }

  .embeds {
    grid-area: embeds;
    display: flex;
    gap: 0.5rem;
  }
}

.spotify {
  width: 30%;
}

.twitch {
  width: 70%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
