.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--default-spacing);
  padding-top: var(--page-top-spacing);
  background-color: rgba(0, 0, 0, 0.65)
}

.links {
  display: flex;
  align-items: center;
  gap: var(--default-spacing);
}

.linkList {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding: 0 calc(var(--default-spacing) * 2) 0 calc(var(--default-spacing) * 2);
  gap: calc(var(--default-spacing) / 2);
}

.link {
  display: flex;
  gap: var(--default-spacing);
  align-items: center;
  font-weight: bold;
}

.item {
  width: var(--square-dimensions);
  height: var(--square-dimensions);
  background-color: var(--color-secondary);
}

.content {
  display: flex;
  gap: var(--default-spacing);
}

.spotlight {
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 2) + var(--default-spacing));
  height: calc((var(--square-dimensions) * 2) + var(--default-spacing));
}

.about {
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 2) + var(--default-spacing));
  height: calc((var(--square-dimensions) * 2) + var(--default-spacing));
}

.footer {
  background-color: var(--color-secondary);
  width: calc((var(--square-dimensions) * 4) + (var(--default-spacing) * 3));
  height: var(--square-dimensions);
}

.header {
/*  font-weight: bold;*/
  color: var(--color-primary);
  padding: calc(var(--default-spacing) * 2);
  font-size: 3rem;
}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}
